{% extends "base.html" %}

{% block content %}
    <div class="container-fluid ">

    <a class="btn btn-primary my-2" href="/chats">Return to chats</a>

    <div class="container-fluid d-flex align-items-end flex-column bd-highlight mb-4 ">

        {%  for mes in messages %}
        <div class="mb-1 shadow-sm" style=" width: 50%" height="5">

            <div class="card-body" >
              {{ mes.content }}

              <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{ mes.user.name }}</small>
                  <small class="text-muted">{{ mes.time }}</small>
              </div>

            </div>

          </div>
        {% endfor %}
    </div>

    <form method="post">
        {{ form.csrf_token }}
        <input type="text" class="form-control" id="content" name="content">
    </form>

    </div>
{% endblock %}
