
{% extends "base.html" %}

{% block content %}

<form method="post" >

    <br>
    <h4 class="mb-3">New user</h4>

    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text"> >> </span>
            </div>
            <input type="text" class="form-control"  id="name" placeholder="Username" name="name" required="">
        </div>
    </div>

    <hr class="mb-4">

    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text"> >> </span>
            </div>
            <input type="text" class="form-control" placeholder="Email" name="email">
        </div>
    </div>

    <hr class="mb-4">

    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text"> >> </span>
            </div>
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
    </div>

    <hr class="mb-4">

    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to create</button>

</form>
{% endblock %}
